// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.



$primary:       #208E60; // Thats a sample how you could change a BootStrap variable. 
$secondary:     #208E60;
$success:       #208E60/*#6DD6AC*/;
$info:          #37718E;
$warning:       #E9D758;
$danger:        #F25F5C;
$light:         #208E60;
$dark:          #595F72;

$btn-border-radius: 0px;